CHAINS=["ETH"]

MONGODB_URI=mongodb://DESKTOP-O29LDC8:27017,DESKTOP-O29LDC8:27018,DESKTOP-O29LDC8:27019?replicaSet=rs
MONGODB_DATABASE=txstreet

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

STORAGE_BUCKET_ID=
STORAGE_BUCKET_HOST=nyc3.digitaloceanspaces.com
STORAGE_BUCKET_KEY=
STORAGE_BUCKET_SECRET=
GCS_BUCKET_NAME=staging

ETH_NODE=127.0.0.1:8546

